// 全局样式
body, html {
    height: 100%;
    width: 100%;
}

body {
    min-width: 1200px;
    background: #e7e8eb;
    padding-top: $header-height;
}

a {
    color: #666;
    &:hover {
        color: #333;
    }
    &:focus, &:hover, &:hover {
        outline: none;
        text-decoration:none;
    }
}

.ajax-loading {

    .loader-wrapper {
        height: 80px;
        position:relative;
        .plus-loader:not(:required) {
            position:absolute;
            top:50%;
            left:50%;
            width:24px;
            height:24px;
            margin-top:-12px;
            margin-left:-12px;
        }
    }
}