.console-header {
    height: $header-height;
    width: 100%;
    position:fixed;
    z-index:99999;
    background: #fff;
    top:0;
    left:0;
    width: 100%;
    border-bottom: 1px solid #d9dadc;
    border-top: 4px solid $brand-success;

    .header-inner
    {
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .left {
        width: $sidebar-width;
        height:100%;
        overflow:hidden;

        .logo {
            height:100%;
            font-size: 22px;
            padding-top:10px;
            border-right: $light-border-color;

            i {
                padding:0 10px;
            }
        }
    }

    .right {
        height:100%;
        overflow:hidden;
        .top-nav {
            position:absolute;
            bottom:-1px;
            width:100%;

            .navbar {
                li.active a {
                    color: #fff;
                    background: $brand-success;
                }
            }
        }
    }
}

