.video-list-thumbs{

}

.video-list-thumbs > .video-card{
    margin-bottom:12px;
}
.video-list-thumbs > .video-card:last-child{

}

.video-list-thumbs > .video-card > a{
    display:block;
    position:relative;
    background-color: #313232;
    color: #fff;
    transition: all 500ms ease-in-out;
}
.video-list-thumbs > .video-card > a:hover{
    box-shadow:0 2px 5px rgba(0,0,0,.3);
    text-decoration:none;
}
.video-list-thumbs h2{
    bottom: 0;
    font-size: 14px;
    padding: 8px;
    margin:0;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
}
.video-list-thumbs .icon {
    font-size: 60px;
    opacity: 0.6;
    position: absolute;
    right: 40%;
    top: 13%;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    transition:all 500ms ease-in-out;
}
.video-list-thumbs > .video-card > a:hover .icon {
    color:#fff;
    opacity:1;
    text-shadow:0 1px 3px rgba(0,0,0,.8);
}
.video-list-thumbs .duration{
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    left: 12px;
    line-height: 13px;
    padding: 2px 3px 1px;
    position: absolute;
    top: 12px;
    transition:all 500ms ease;
}

.video-list-thumbs > .video-card > a:hover .duration{
    background-color:#000;
}
@media (min-width:320px) and (max-width: 480px) {
    .video-list-thumbs .icon {
        font-size: 35px;
        right: 36%;
        top: 27%;
    }
    .video-list-thumbs h2{
        bottom: 0;
        font-size: 12px;
        height: 22px;
        margin: 8px 0 0;
    }
}